.contact-info{
    padding:50px; 
    height: 100%;   
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 30px;
    margin-left: 40px;
    
}
.name{
    font-size: 18px;
    font-weight: 350;
    text-transform: capitalize;
    
}
.anyclass{
    height: 500px;
    overflow-y:auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  @media only screen and (max-width: 600px) {
.contact-info{
        height: 100%;
        margin-left: 0px;
    }
}
.border-shadow{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}