<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Contact Mangement</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <!-- Links -->
  <ul class="navbar-nav">
    
  </ul>
  </div>  
</nav>
<div class="container-fluid">
  <app-contact-list></app-contact-list>
</div>
<br><br>
<div class="footer">
  <p>Developed by Sonu</p>
</div>

