*{
   font-family: 'Times New Roman', Times, serif;

}
body{
background-color: #E6E6FA !important;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #003342;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top:3px; 
}
.navbar{
    background-color:#003342 !important;
}